<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="container">
    <div class="starter-template">
         <table  border=1 >
             <tr class ="header">
                 <td>ID   </td>
                 <td>Name   </td>
                 <td>Address   </td>
                 <td>Phone   </td>
             <tr>
             <tr th:each="temp : ${customers}">
                 <td th:text="${temp.id}">   </td>
                 <td th:text="${temp.name}">   </td>
                 <td th:text="${temp.address}">   </td>
                 <td th:text="${temp.phone}">   </td>
             </tr>
         </table>
    </div>
</div>
</body>
</html>
